<header>
    <h1>this is the header</h1>

    <a href="/dy">home</a>
    <a href="/dy_help">help</a>
    <a href="/dy_about">about</a>
    <a href="/this_page_desent_exist">this_page_desent_exist</a>
</header>

<h6>{{title}}</h6>